/* Acá van tus reglas de estilo */
header{
  color:black;
  font-size: 36pt;
  text-align: center;
  background-color:#C0C0C0 ;
  width: 430px;
  height: 100px;
  border:2px;
  align-content: center;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('../img/seguro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;

}

footer{
  color:black;
  background-color: #C0C0C0;
  font-size: 15px;
  text-align: center;
  width:430px;
  height:50px;
  border:2px;
  text-align: center;
}

.nombre-contraseña{
  background:#D4E6F1;
  width:430px;
  height:310px;
  border:2px;
  border-color: #C0C0C0;
  border-style:solid;
}
.cifrar-descifrar{
  background: #D4E6F1;
  width:430px;
  height:310px;
  border:2px;
  border-color: #C0C0C0;
  border-style:solid;
  display: none;
}
.cifrado{
  background: #D4E6F1;
  width:430px;
  height:310px;
  border:2px;
  border-color: #C0C0C0;
  border-style:solid;
  display: none;
}
.descifrado{
  background: #D4E6F1;
  width:430px;
  height:310px;
  border:2px;
  border-color: #C0C0C0;
  border-style:solid;
  display: none;
}
.mensajecifrado{
  display:none;
  background: #D4E6F1;
  width:430px;
  height:310px;
  border:2px;
  border-color: #C0C0C0;
  border-style:solid;
}
.Mensajedescifrado{
  display:none;
  background: #D4E6F1;
  width:430px;
  height:310px;
  border:2px;
  border-color: #C0C0C0;
  border-style:solid;
}
button {
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);

  }
